<div class="row container">
    <div class="span2">
        <div class="input-append date date-start">
            <input type="text" value="" readonly>
                <span class="add-on"><i class="icon-th"></i></span>
                </div></i></span>
            </input>
        </div>
    </div>
    <div class="span2">
        <div class="input-append date date-end">
            <input type="text" value="" readonly>
                <span class="add-on"><i class="icon-th"></i></span>
                </div></i></span>
            </input>
        </div>
    </div>
</div>
