<div>
    <button class="btn-add-dish btn btn-primary pull-right">Add dish</button>
    <div class="custom-search-query pull-right wrap-search-query">
        <input type="text" class="search-query" placeholder="Query dish">
            <button><i class="icon-search"></i></button>
        </input>
    </div>
<div>
<div class="wrap-list">
</div>
