<div class="accordion-heading second-item">
    <a href="" class="toggle-botton hover-tip" title="Expand">{{name}}</a>
    <span class="pull-right">
        {{#unless isFirst}}
        <a href="" class="btn-move-up-chapter hover-tip" title="Move up">
            <i class="icon-arrow-up"></i>
        </a>
        {{/unless}}
        {{#unless isLast}}
        <a href="" class="btn-move-down-chapter hover-tip" title="Move down">
            <i class="icon-arrow-down"></i>
        </a>
        {{/unless}}
        <a href="" class="btn-edit-chapter hover-tip" title="Edit category">
            <i class="icon-edit"></i>
        </a>
        <a href="" class="btn-add-page hover-tip" title="Add page"><i class="icon-plus"></i></a>
        <a href="" class="btn-delete-chapter hover-tip" title="Delete category"><i class="icon-remove"></i></a>
    </span>
</div>
<div class="accordion-body collapse-view collapse">
    <div class="accordion-inner page-wrap">
    </div>
</div>
