<td>
    <a href="" class="btn-edit-dish-tag hover-tip" title="编辑菜品做法">{{name}}</a>
</td>
<td>
    <a href="" class="btn-edit-dish-tag hover-tip" title="编辑菜品做法"><i class="icon-edit"></i></a>
    <a href="" class="btn-delete-dish-tag hover-tip" title="删除菜品做法"><i class="icon-remove"></i></a>
</td>
