<div class="thumbnail thumbnail-dish">
    <a class="btn-img pull-left" href="">
        <img class="img-thumbnail"  src="{{#if imageData}}{{imageData}}{{else}}/static/dish-thumbnail-add.gif{{/if}}"/>
    </a>
    <div class="pull-left wrap-content">
        <div class="pull-left">
            {{#if hasValue}}
                <a href="">{{name}}</a>
            {{else}}
                无
            {{/if}}
        </div>
        <div class="pull-left clear-left">
            <a href="" class="btn-select-dish hover-tip" title="挑选菜品"><i class="icon-search"></i></a>
            {{#if hasValue}}
                <a href="" class="btn-remove-dish hover-tip" title="移除菜品"><i class="icon-remove"></i></a>
            {{/if}}
        </div>
    </div>
</div>
