<td>
    <a href="" class="btn-edit-dish-tag hover-tip" title="Edit cooking">{{name}}</a>
</td>
<td>
    <a href="" class="btn-edit-dish-tag hover-tip" title="Edit"><i class="icon-edit"></i></a>
    <a href="" class="btn-delete-dish-tag hover-tip" title="Delete"><i class="icon-remove"></i></a>
</td>
