<div class="thumbnail thumbnail-dish">
    <a class="btn-img pull-left" href="">
        <img src="/static/dish-thumbnail-add.gif"/>
    </a>
    <div class="pull-left">
        <div class="pull-left">
            <a href="">{{name}}</a>
        </div>
        <div class="pull-left clear-left">
            <a href="" class="btn-select-dish hover-tip" title="挑选菜品"><i class="icon-search"></i></a>
            <a href="" class="btn-remove-dish hover-tip" title="移除菜品"><i class="icon-remove"></i></a>
        </div>
    </div>
</div>
