<td>
    <a href="" class="btn-edit-dish-note hover-tip" title="Edit note">{{name}}</a>
</td>
<td>
    <a href="" class="btn-edit-dish-note hover-tip" title="Edit note"><i class="icon-edit"></i></a>
    <a href="" class="btn-delete-dish-note hover-tip" title="Delete note"><i class="icon-remove"></i></a>
</td>

