<div class="thumbnail thumbnail-dish">
    <a class="btn-img pull-left" href="">
        <img class="img-thumbnail"  src="{{#if imageId}}/images/{{imageId}}{{else}}/static/dish-thumbnail-add.gif{{/if}}"/>
    </a>
    <div class="pull-left wrap-content">
        <div class="pull-left">
            {{#if hasValue}}
                <a href="" class="btn-edit-dish">{{name}}</a>
            {{else}}
               N/A 
            {{/if}}
        </div>
        <div class="pull-left clear-left">
            <a href="" class="btn-select-dish hover-tip" title="Select"><i class="icon-search"></i></a>
            {{#if hasValue}}
                <a href="" class="btn-remove-dish hover-tip" title="Remove"><i class="icon-remove"></i></a>
            {{/if}}
        </div>
    </div>
</div>
