<div class="accordion-heading top-item">
    <a href="" class="toggle-botton hover-tip" title="Expand">{{name}}</a>
    <span class="pull-right">
        <a href="" class="btn-edit-menu hover-tip" title="Edit menu">
            <i class="icon-edit"></i>
        </a>
        <a href="" class="btn-add-chapter hover-tip" title="Add category"><i class="icon-plus"></i></a>
        <a href="" class="btn-delete-menu hover-tip" title="Delete"><i class="icon-remove"></i></a>
    </span>
</div>
<div class="accordion-body collapse-view collapse">
    <div class="accordion-inner wrap-chapter">
    </div>
</div>
