<td>
    {{name}}
</td>
<td>
    {{imei}}
</td>
<td>
    {{desc}}
</td>
<td>
    <a href="" class="btn-edit-pad hover-tip" title="Edit table"><i class="icon-edit"></i></a>
    <a href="" class="btn-delete-pad hover-tip" title="Delet tablet"><i class="icon-remove"></i></a>
</td>

