<td>
    {{name}}
</td>
<td>
    <a href="" class="btn-edit-print-component hover-tip" title="编辑"><i class="icon-edit"></i></a>
    <a href="" class="btn-delete-print-component hover-tip" title="删除"><i class="icon-remove"></i></a>
</td>
