<td>
    {{name}}
</td>
<td>
    {{restaurantId}}
</td>
<td>
    <a href="" class="btn-edit-restaurant hover-tip" title="Edit Restaurant"><i class="icon-edit"></i></a>
    <a href="" class="btn-delete-restaurant hover-tip" title="Delte Restaurant"><i class="icon-remove"></i></a>
</td>
