<td>
    {{name}}
</td>
<td>
    <div class="make-switch switch-small" data-on="success" data-off="danger"
        data-on-label="Nomal" data-off-label="Sold out">
        <input type="checkbox" {{#unless soldout}}checked{{/unless}}></input>
    </div>
</td>
