<div>
    <div>{{name}}</div>
    <div>
        <span class="label label-{{#if empty}}success{{else}}important{{/if}}">
            Status:{{#if empty}}Idle{{else}}Occupied{{/if}}
        </span>
    </div>
    <div class='btn-wrap'>
        <a href="bill?tableId={{id}}" class="btn btn-primary btn-mini btn-bill {{#unless hasOrder}}disabled{{/unless}}">Detail</a>
        <span class="btn btn-primary btn-mini btn-change {{#if empty}}disabled{{/if}}">Switch table</span>
    </div>
</div>
