<td style="width:240px;word-break:break-all;">
    {{name}}
</td>
<td style="width:240px;word-break:break-all;">
    {{realName}}
</td>
<td style="width:240px;word-break:break-all;">
    {{comment}}
</td>
<td style="width:150px;word-break:break-all;">
    {{typeLabel}}
</td>
<td style="width:120px;word-break:break-all;">
{{#if showOp}}
    <a href="" class="btn-edit-user hover-tip" title="编辑用户"><i class="icon-edit"></i></a>
    <a href="" class="btn-delete-user hover-tip" title="删除用户"><i class="icon-remove"></i></a>
{{/if}}
{{#if isMe}}
    <a href="" class="btn-mod-pw hover-tip" title="修改密码"><i class="icon-lock"></i></a>
{{/if}}
</td>
