<td>
    {{name}}
</td>
<td>
    {{realName}}
</td>
<td>
    {{comment}}
</td>
<td>
    {{typeLabel}}
</td>
<td>
{{#if showOp}}
    <a href="" class="btn-edit-user">编辑</a>
    |
    <a href="" class="btn-delete-user">删除</a>
{{/if}}
{{#if isMe}}
    {{#if showOp}}
        |
    {{/if}}
    <a href="" class="btn-mod-pw">修改密码</a>
{{/if}}
</td>
