<form class="form-mod-pw form-horizontal">
    <div class="control-group input-password-old">
        <label class="control-label">旧密码:</label>
        <div class="controls">
            <input type="password" name="oldPassword"/>
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group input-password-new">
        <label class="control-label">新密码:</label>
        <div class="controls">
            <input type="password" name="newPassword"/>
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group input-password-confirm">
        <label class="control-label">密码确认:</label>
        <div class="controls">
            <input type="password" name="passwordConfirm"/>
            <span class="help-inline error"></span>
        </div>
    </div>
</form>
