<form class="form-select-dish form-horizontal" style="height: 300px;">
    <div class="control-group input-dish">
        <div class="controls custom-search-query wrap-search-query">
            <input type="text" data-provide="typeahead" class="typeahead search-query" placeholder="输入菜品关键字">
                <button><i class="icon-search"></i></button>
            </input>
            <span class="help-inline error"></span>
        </div>
    </div>
</form>
