<span class="btn-wrap pull-right">
    <button class="btn btn-info btn-mini btn-previous">上一页</button>
    <button class="btn btn-info btn-mini btn-next">下一页</button>
</span>
<div id="{{carouselId}}" class="carousel slide" style="clear: left;">
    <div class="carousel-inner">
    </div>
</div>
