<div class="btn-wrap clearfix">
    <button class="btn btn-info btn-mini btn-next pull-right">下一页</button>
    <button class="btn btn-info btn-mini btn-previous pull-right">上一页</button>
</div>
<div id="{{carouselId}}" class="carousel slide">
    <div class="carousel-inner">
    </div>
</div>

