	<footer>
	  <div class="container">
			<div class="row">
				<ul class="col-sm-3">
					<li>Products</li>
					
					<li><a href="hummingmenu">HummingMenu</a></li>
					<li><a href="hummingmanager">HummingManager</a></li>
				</ul>

				<ul class="col-sm-3">
					<li>Features</li>
					
					<li class="easy-dinning-experience"><a href="index#easy-dinning-experience">Seamless Dinning Experience</a></li>
					<li class="managing-tool"><a href="index#managing-tool">Powerful Managing Tools</a></li>
					<li class="affordable-price"><a href="index#affordable-price">Affordable Price</a></li>
				</ul>
				
				<ul class="col-sm-3">
					<li>Hummingbird</li>
					
					<li><a href="about">About</a></li>
					<li><a href="about#contact">Contact</a></li>
				</ul>

				<ul class="col-sm-3">
					<li>Follow Us</li>
					
					<li><a href="https://www.facebook.com/hummingbirdsystem">
						<img src="static/global/ic-facebook.png" class="pull-left img-responsive" alt="Facebook Icon"> Facebook
					</a></li>	
					<li><a href="https://twitter.com/hummingbird_sys">
						<img src="static/global/ic-twitter.png" class="pull-left img-responsive" alt="Twitter Icon">Twitter</a></li>
					<li><a href="https://plus.google.com/u/3/b/108598796815813356478/108598796815813356478">
						<img src="static/global/ic-googleplus.png" class="pull-left img-responsive" alt="Google+ Icon">Google+
					</a></li>
					<li><a href="http://www.linkedin.com/company/hummingbird-system">
						<img src="static/global/ic-linkedin.png" class="pull-left img-responsive" alt="Linkedin Icon">Linkedin
					</a></li>
				</ul>
			</div>
			<div class="col-sm-12 divider"></div>
			<div class="col-sm-12 text-center">
				Copyright &#169 2014, Hummingbird System Inc., All Rights Reserved.
			</div>
		</div>
	</footer>