#macro(mode_tab, $tab_mode)
    <li #if($mode==$tab_mode)class="active"#end><a href="/$tab_mode">$!bodyContent</a></li>
#end

<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="/home">CloudMenu</a>
        <ul class="nav">
            #@mode_tab("operate")运营模式#end
            #@mode_tab("admin")管理模式#end
        </ul>
    </div>
</div>
