<form class="form-edit-pad form-horizontal">
    <div class="control-group input-name">
        <label class="control-label">Decvice name:</label>
        <div class="controls">
            <input type="text" name="name"/>
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group input-imei">
        <label class="control-label">IMEI:</label>
        <div class="controls">
            <input type="text" name="imei"/>
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group input-desc">
        <label class="control-label">Note:</label>
        <div class="controls">
            <input type="text" name="desc"/>
            <span class="help-inline error"></span>
        </div>
    </div>
</form>

