<form class="form-edit-print-component">
    <div class="control-group input-name">
        <label class="control-label">Name:</label>
        <div class="controls">
            <input type="text" rows="8"  name="name"/>
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group input-content">
        <label class="control-label">Content:</label>
        <div class="controls">
            <textarea rows="8"  name="content"></textarea>
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="row btn-group">
        <span class="btn btn-add-date">Date</span>
        <span class="btn btn-add-custom-num">Number of customers</span>
        <span class="btn btn-add-table-name">Table name</span>
        <span class="btn btn-add-order-id">Order Id</span>
        <span class="btn btn-add-waiter-name">Waiter/Waitress name</span>
    </div>
    <div class="row btn-group">
        <span class="btn btn-add-cost">Received amount</span>
        <span class="btn btn-add-tip">Service fee</span>
        <span class="btn btn-add-price">Total amount</span>
        <span class="btn btn-add-discount">Discount</span>
        <span class="btn btn-add-paytype">Payment type</span>
    </div>
</form>
