<form class="form-create-restaurant form-horizontal">
    <div class="control-group input-name">
        <label class="control-label">Restaurant name:</label>
        <div class="controls">
            <input type="text" name="name"/>
            <span class="help-inline error"></span>
        </div>
    </div>
</form>
