<form class="form-edit-print-component">
    <div class="control-group input-name">
        <label class="control-label">名称:</label>
        <div class="controls">
            <input type="text" rows="8"  name="name"/>
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group input-content">
        <label class="control-label">内容:</label>
        <div class="controls">
            <textarea rows="8"  name="content"></textarea>
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="row btn-group">
        <span class="btn btn-add-date">日期</span>
        <span class="btn btn-add-custom-num">就餐人数</span>
        <span class="btn btn-add-table-name">桌名</span>
        <span class="btn btn-add-order-id">订单号</span>
        <span class="btn btn-add-waiter-name">服务员名字</span>
    </div>
    <div class="row btn-group">
        <span class="btn btn-add-cost">实收款</span>
        <span class="btn btn-add-tip">服务费</span>
        <span class="btn btn-add-price">菜品总价</span>
        <span class="btn btn-add-discount">折扣</span>
        <span class="btn btn-add-paytype">结帐方式</span>
    </div>
</form>
