<form class="form-edit-printer-config form-horizontal">
    <div class="well">
        <div class="control-group input-whenOrdered">
            <label class="control-label">下单自动打印:</label>
            <div class="controls">
                <input type="checkbox" name="whenOrdered"/>
                <span class="help-inline error"></span>
            </div>
        </div>
        <div class="control-group input-orderedTemplateIds">
            <label class="control-label">选择模板:</label>
            <div class="controls">
                <div class="checkbox-group">
                </div>
                <span class="help-inline error"></span>
            </div>
        </div>
    </div>
    <div class="well">
        <div class="control-group input-whenBill">
            <label class="control-label">结账自动打印:</label>
            <div class="controls">
                <input type="checkbox" name="whenBill"/>
                <span class="help-inline error"></span>
            </div>
        </div>
        <div class="control-group input-billTemplateIds">
            <label class="control-label">选择模板:</label>
            <div class="controls">
                <div class="checkbox-group">
                </div>
                <span class="help-inline error"></span>
            </div>
        </div>
    </div>
    <div class="well">
        <div class="control-group input-whenCancel">
            <label class="control-label">退菜自动打印:</label>
            <div class="controls">
                <input type="checkbox" name="whenCancel"/>
                <span class="help-inline error"></span>
            </div>
        </div>
        <div class="control-group input-cancelTemplateIds">
            <label class="control-label">选择模板:</label>
            <div class="controls">
                <div class="checkbox-group">
                </div>
                <span class="help-inline error"></span>
            </div>
        </div>
    </div>
</form>

