<form class="form-edit-printer-config form-horizontal">
    <div class="well">
        <div class="control-group input-whenOrdered">
            <label class="control-label">Automatic print:</label>
            <div class="controls">
                <input type="checkbox" name="whenOrdered"/>
                <span class="help-inline error"></span>
            </div>
        </div>
        <div class="control-group input-orderedTemplateIds">
            <label class="control-label">Select template:</label>
            <div class="controls">
                <div class="checkbox-group">
                </div>
                <span class="help-inline error"></span>
            </div>
        </div>
    </div>
    <div class="well">
        <div class="control-group input-whenBill">
            <label class="control-label">Print When Check:</label>
            <div class="controls">
                <input type="checkbox" name="whenBill"/>
                <span class="help-inline error"></span>
            </div>
        </div>
        <div class="control-group input-billTemplateIds">
            <label class="control-label">Select template:</label>
            <div class="controls">
                <div class="checkbox-group">
                </div>
                <span class="help-inline error"></span>
            </div>
        </div>
    </div>
    <div class="well">
        <div class="control-group input-whenAdd">
            <label class="control-label">Print When Order:</label>
            <div class="controls">
                <input type="checkbox" name="whenAdd"/>
                <span class="help-inline error"></span>
            </div>
        </div>
        <div class="control-group input-addTemplateIds">
            <label class="control-label">Select template:</label>
            <div class="controls">
                <div class="checkbox-group">
                </div>
                <span class="help-inline error"></span>
            </div>
        </div>
    </div>
    <div class="well">
        <div class="control-group input-whenCancel">
            <label class="control-label">Print When Cancel:</label>
            <div class="controls">
                <input type="checkbox" name="whenCancel"/>
                <span class="help-inline error"></span>
            </div>
        </div>
        <div class="control-group input-cancelTemplateIds">
            <label class="control-label">Choose Template:</label>
            <div class="controls">
                <div class="checkbox-group">
                </div>
                <span class="help-inline error"></span>
            </div>
        </div>
    </div>
</form>

