<form class="form-create-table form-horizontal">
    <div class="control-group input-name">
        <label class="control-label">桌名:</label>
        <div class="controls">
            <input type="text" name="name"/>
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group input-type">
        <label class="control-label">类型:</label>
        <div class="controls">
            <label class="radio inline">
                <input type="radio" name="type" value="0" checked="true"/>
                包间
            </label>
            <label class="radio inline">
                <input type="radio" name="type" value="1"/>
                散台
            </label>
            <label class="radio inline">
                <input type="radio" name="type" value="2"/>
                卡座
            </label>
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group input-shape">
        <label class="control-label">桌型:</label>
        <div class="controls">
            <label class="radio inline">
                <input type="radio" name="shape" value="0" checked="true"/>
                方桌
            </label>
            <label class="radio inline">
                <input type="radio" name="shape" value="1"/>
                圆桌
            </label>
            </label>
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group input-capacity">
        <label class="control-label">最多人数:</label>
        <div class="controls">
            <input type="text" name="capacity"/>
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group input-minCharge">
        <label class="control-label">最低消费:</label>
        <div class="controls">
            <input type="text" name="minCharge"/>
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="input-tip">
        <div class="control-group wrap-tip-mode">
            <label class="control-label">服务费模式:</label>
            <div class="controls">
                <label class="radio inline">
                    <input type="radio" name="tipMode" value="0" checked="true"/>
                    无
                </label>
                <label class="radio inline">
                    <input type="radio" name="tipMode" value="1"/>
                    固定金额
                </label>
                <label class="radio inline">
                    <input type="radio" name="tipMode" value="2"/>
                    按比例收费
                </label>
            </div>
        </div>
        <div class="control-group wrap-tip">
            <label class="control-label">服务费:</label>
            <div class="controls">
                <div class="input-append">
                    <input type="text" name="tip"/>
                    <span class="add-on">%</span></span>
                </div>
                <span class="help-inline error"></span>
            </div>
        </div>
    </div>
</form>

