<form class="form-edit-print-component">
    <div class="control-group input-content">
        <label class="control-label">内容:</label>
        <div class="controls">
            <textarea rows="8"  name="content"></textarea>
            <span class="help-inline error"></span>
        </div>
    </div>
</form>
