<form class="form-edit-print-template form-horizontal">
    <div class="control-group input-name">
        <label class="control-label">名称:</label>
        <div class="controls">
            <input type="text" name="name"/>
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group input-headerId">
        <label class="control-label">页眉:</label>
        <div class="controls">
            <select>
            </select>
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group input-footerId">
        <label class="control-label">页脚:</label>
        <div class="controls">
            <select>
            </select>
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group input-cutType">
        <label class="control-label">类型:</label>
        <div class="controls">
            <label class="radio inline">
                <input type="radio" name="cutType" value="0" checked="true"/>
                一单一切
            </label>
            <label class="radio inline">
                <input type="radio" name="cutType" value="1"/>
                一菜一切
            </label>
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group input-fontSize">
        <label class="control-label">Font size:</label>
        <div class="controls">
            <input type="text" name="fontSize"/>
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group input-chapterIds">
        <label class="control-label">打印菜品分类:</label>
        <div class="controls">
            <div class="checkbox-group">
            </div>
            <span class="help-inline error"></span>
        </div>
    </div>
</form>

