<form class="form-edit-print-component">
    <div class="control-group input-name">
        <label class="control-label">名称:</label>
        <div class="controls">
            <input type="text" rows="8"  name="name"/>
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group input-content">
        <label class="control-label">内容:</label>
        <div class="controls">
            <textarea rows="8"  name="content"></textarea>
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="row btn-group">
        <span class="btn btn-add-date">插入日期</span>
        <span class="btn btn-add-custom-num">插入就餐人数</span>
        <span class="btn btn-add-table-name">插入桌名</span>
        <span class="btn btn-add-order-id">插入订单号</span>
        <span class="btn btn-add-waiter-name">插入服务员名字</span>
    </div>
</form>
