<form class="form-print">
    <div class="control-group input-printerId">
        <label class="control-label">打印机:</label>
        <div class="controls">
            <select>
            </select>
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group input-templateId">
        <label class="control-label">模板:</label>
        <div class="controls">
            <select>
            </select>
            <span class="help-inline error"></span>
        </div>
    </div>
</form>
