#macro(layout_common)
    <!DOCTYPE HTML>
    <html lang="en">
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            #parse("layout/component/style.vm")
            <title>CloudMenu</title>
        </head>
        <body>
            $!bodyContent
            #parse("layout/component/script.vm")
        </body>
    </html>
#end
