#@layout_common()
    <div class="container">
        #parse('component/top_nav.vm')
        <div class="row">
            <div class="span2 left-bar well">
                #parse('component/left_nav.vm')
            </div>
            <div class="span9">
                $screen_content
            </div>
        </div>
    </div>
#end
