#set( $layout = "layout/static.vm")
<!DOCTYPE html>
<html>
  <head>
    <title>Hummingbird</title>
#parse("layout/component/static_head.vm")
  </head>
  
  <body>
	<!--navigation bar-->
#parse("layout/component/static_nav.vm")

	<div class="container about-us">
		<div class="row">
			<h2 class="col-xs-12 text-center">About us</h2>
			<p class="col-xs-12">Hummingbird provides hardware and software solutions to make both restaurants and guests' lives much easier. For restaurants, Hummingbird makes tablets to replace paper menu, which allows guests to view pictures of the entire menu, place orders, and pay their checks without having to wait for the waitresses. For restaurants, computerized ordering systems, in which servers take orders on an electronic device and send it immediately to the kitchen, have helped restaurants become more efficient.</p>
		</div>
	</div>

#parse("layout/component/static_footer.vm")	
	
	<!-- javascripts -->
#parse("layout/component/static_script.vm")
  </body>
</html>
