#set( $layout = "layout/empty.vm")
#set($pageName="Bill")

<div class="container bill-page-wrap">
    <div class="row">
        <div class="page-header">
            <h1>
                Checking bills 
            </h1>
        </div>
    </div>
    <form class="form-bill row">
        <div class="span3 well container">
            <div class="row">
                <span class="span1">Table:</span>
                <span class="span2">$order.table.name</span>
            </div>
            <div class="row">
                <span class="span1">Start time:</span>
                <span class="span2">$Utils.formatDate($order.createdTime)</span>
            </div>
            <div class="row">
                <span class="span1">Price:</span>
                <span class="span2">$order.originPrice</span>
            </div>
            <div class="row">
                <span class="span1">Waiter/Waitress:</span>
                <span class="span2">$order.user.realName</span>
            </div>
            <div class="input-tip control-group">
                <div class="row controls">
                    <div class="span1">Tips:</div>
                    <input class="span2" type="text" name="tip"#if($order.status==1) disabled#end/>
                </div>
                <div class="help-inline error"></div>
            </div>
            <div class="input-discount control-group">
                <div class="row controls">
                    <div class="span1">Discount:</div>
                    <input class="span2" type="text" name="discount"#if($order.status==1) disabled#end/>
                </div>
                <div class="help-inline error"></div>
            </div>
            <div class="input-cost control-group">
                <div class="row controls">
                    <div class="span1">Amount received:</div>
                    <input class="span2" type="text" name="cost"#if($order.status==1) disabled#end/>
                </div>
                <div class="help-inline error"></div>
            </div>
            <div class="invoice-wrap">
                <div class="input-invoice control-group">
                    <div class="row controls">
                        <div class="span1">Receipt:</div>
                        <input class="span2" type="checkbox" name="invoice"#if($order.status==1) disabled#end/>
                    </div>
                    <div class="help-inline error"></div>
                </div>
                <div class="input-invoicePrice control-group">
                    <div class="row controls">
                        <div class="span1">Receipt amount:</div>
                        <input class="span2 item-control" type="text" name="invoicePrice"#if($order.status==1) disabled#end/>
                    </div>
                    <div class="help-inline error"></div>
                </div>
            </div>
            <div class="input-payType control-group">
                <div class="row controls">
                    <div class="span1">Payment type:</div>
                    <select class="span2 item-control"#if($order.status==1) disabled#end>
                    </select>
                </div>
                <div class="help-inline error"></div>
            </div>
            <div class="input-remarks control-group">
                <div class="row controls">
                    <div class="span1">Note:</div>
                    <textarea class="span2" rows="3" type="text" name="remarks"#if($order.status==1) disabled#end></textarea>
                </div>
                <div class="help-inline error"></div>
            </div>
        </div>
        <div class="span8 well">
            <span class="label label-info">Ordered:</span>
            <table class="table table-striped table-hover table-dish">
                <thead>
                    <tr class='head-row'>
                        <th>Dishes</th>
                        <th>Note</th>
                        <th>Price per item</th>
                        <th>Amount</th>
                        <th>Total amount</th>
                        <th>Discount</th>
                        <th>Operation</th>
                    </tr>
                </thead>
                <tbody>
                    #foreach($dish in $order.dishes)
                        <tr id="dish-item-$dish.id">
                            <td>$dish.name</td>
                            <td>
                                #foreach($remark in $dish.remarks)
                                    $remark
                                #end
                            </td>
                            <td>$dish.price</td>
                            <td>$dish.number</td>
                            <td>$dish.totalCost</td>
                            <td><input type="checkbox" class="cb-discount" checked#if($order.status==1) disabled#end/></td>
                            <td>
                                #if($order.status==0)
                                    <a href="#" class="btn-cancel-dish">Return</a>
                                    ##|
                                    ##<a href="#" class="btn-free-dish">Gift</a>
                                #end
                            </td>
                        <tr>
                    #end
                </tbody>
            </table>
            #if($order.cancelDishes.size()>0)
                <span class="label label-info">Return:</span>
                <table class="table table-striped table-hover table-dish">
                    <thead>
                        <tr class='head-row'>
                            <th>Dish</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        #foreach($dish in $order.cancelDishes)
                            <tr>
                                <td>$dish.name</td>
                                <td>$dish.count</td>
                            </tr>
                        #end
                    </tbody>
                </table>
            #end
            #if($order.status==0)
                <span class="btn btn-primary btn-submit">Check</span>
            #else
                <span class="label label-success">Checked</span>
            #end
            <span class="btn btn-back">Return</span>
        </div>
    </form>
</div>
#pageData("order", $Utils.toJson($order))
#pageData("bill", $Utils.toJson($bill))
