#set($mode="admin")
#set($pageName="Device")

#macro (status_nav_item, $tab_name)
  <li class="tab-$tab_name">
    <a href="#$tab_name" class="link-$tab_name">$!bodyContent</a>
  </li>
#end
<ul class="nav nav-tabs">
    #@status_nav_item("pad")Tablet#end
    <li class="pull-right li-right">
    </li>
</ul>
<div class="device-wrap">
</div>
