#set($mode="operate")
#set($pageName="History")


#macro (history_nav_item, $tab_name)
  <li class="tab-$tab_name">
    <a href="#$tab_name" class="link-$tab_name">$!bodyContent</a>
  </li>
#end
<ul class="nav nav-tabs">
    #@history_nav_item("order")今日订单#end
    #@history_nav_item("stat")综合统计#end
    #@history_nav_item("dish-stat")菜品统计#end
</ul>
<div class="bottom-content">
</div>
