<div class="container">
    <ul class="nav">
        <li class="active"><a href="operate">运营模式</a></li>
        <li><a href="admin">管理模式</a></li>
    </ul>
    <div class="row">
        <div class="page-header">
            <h1>
                CloudRestaurant餐馆管理系统
                <small>克劳石科技有限公司</small>
            </h1>
        </div>
    </div>
    <div class="row">
    </div>
</div>
<input id="pageName" type="hidden" value="Home"/>
