#set( $layout = "layout/static.vm")
<!DOCTYPE html>
<html>
  <head>
    <title>Management Software For Restaurant</title>
#parse("layout/component/static_head.vm")
  </head>
  
  <body>
	<!--navigation bar-->
#parse("layout/component/static_nav.vm")

	<div class="wrapper-hero-tablet">
		<div class="container">
			<div class="row">
				<div class="slogan-mobile text-center visible-xs">
					<h1>Restaurant Management Software</br></h1>
					<p>Manage your restaurant on the web</br> anytime and anywhere using a PC, Mac or iPad</p>
				</div>
				<div class="col-xs-12 col-sm-7">
					<img src="static/home/managing-tool.png" class="img-responsive" alt="HummingManager">
				</div>
				<div class="slogan col-xs-12 col-sm-5 text-center hidden-xs">
					<h1>Restaurant Management Software</br></h1>
					<p>Manage your menu, tables, devices and staffs</br> all from one place.</p>
				</div>
			</div>
			
			<div class="row text-center">
				<div class="col-xs-3"><img src="static/products/hummingmanager/ic-edit-menu.png" class="center-block img-responsive" alt="Edit Menu">Edit Menu</div>
				<div class="col-xs-3"><img src="static/products/hummingmanager/ic-manage-tables.png" class="center-block img-responsive" alt="Manage Tables">Manage Tables</div>
				<div class="col-xs-3"><img src="static/products/hummingmanager/ic-manage-devices.png" class="center-block img-responsive" alt="Manage Devices">Manage Devices</div>
				<div class="col-xs-3"><img src="static/products/hummingmanager/ic-manage-users.png" class="center-block img-responsive" alt="Manage Users">Manage Users</div>
			</div>
		</div>
	</div>
	
	<div class="wrapper-content">
		<div class="container">
			<div class="row">
				<h2 class="col-xs-12 text-center ">
					Make Changes On The Menu Anytime Anywhere
				</h2>
				
				<p class="col-xs-12 col-sm-10 col-sm-offset-1 text-center txt-content">Manage your restaurant on the web anytime and anywhere using a PC, Mac or iPad. </br>Log into your account and make a change, it will sync with all the tablets at your restaurant over the cloud.</p>
				
				<div class="col-xs-12 col-sm-12 img-content pull-left">
					<img src="static/products/hummingmanager/edit-menu.png" class="center-block img-responsive" alt="Edit Menu">
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="container">
		<div class="row">
			<h2 class="col-xs-12 text-center title-content">
				Overwatch Each Table Without Being There
			</h2>
			
			<p class="col-xs-12 col-sm-10 col-sm-offset-1 text-center txt-content">Check the status of each table at a glance and make a switch with a simple click. </br> HummingManager will make sure you're always running at full capacity.</p>
			
			<div class="col-xs-12 col-sm-8 col-sm-offset-2 img-content pull-left">
					<img src="static/products/hummingmanager/manage-tables.png" class="center-block img-responsive" alt="Manage Tables">
			</div>
		</div>
	</div>
	
	<div class="wrapper-content">
		<div class="container">
			<div class="row">
				<h2 class="col-xs-12 text-center ">
					Have Full Control Of All The Devices 
				</h2>
				
				<p class="col-xs-12 col-sm-10 col-sm-offset-1 text-center txt-content">See which tablet is low in power or doesn't function normally from the web. </br>Ensure your customer the best dinning experience.</p>
				
				<div class="col-xs-12 col-sm-12 img-content pull-left">
					<img src="static/products/hummingmanager/manage-devices.png" class="center-block img-responsive" alt="Manage Devices">
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<h2 class="col-xs-12 text-center title-content">
				User Management Has Never Been Easier
			</h2>
			
			<p class="col-xs-12 col-sm-10 col-sm-offset-1 text-center txt-content">Giving employees different level of access to your restaurant management.</br>Multiple users can access the same system helping you run your restaurant more effectively.  </p>
			
			<div class="col-xs-12 col-sm-8 col-sm-offset-2 img-content pull-left">
					<img src="static/products/hummingmanager/manage-users.png" class="center-block img-responsive" alt="Manage Users">
			</div>
		</div>
	</div>
	
#parse("layout/component/static_footer.vm")	

	<!-- javascripts -->
#parse("layout/component/static_script.vm")

  </body>
</html>
