#set($mode="admin")
#set($pageName="Menu")

#macro (menu_nav_item, $tab_name)
  <li class="tab-$tab_name">
    <a href="#$tab_name" class="link-$tab_name">$!bodyContent</a>
  </li>
#end

<ul class="nav nav-tabs">
    #@menu_nav_item("dish")Dish#end
    #@menu_nav_item("menu")Menu#end
    #@menu_nav_item("dishNote")Dish Note#end
    <li class="pull-right li-right">
    </li>
</ul>
<div class="bottom-content">
</div>
