订单号: $bill.id
日期:  $Utils.formatDate($bill.createdTime)
收银员: $userName

-----------------------------
菜品	数量*单价	金额
#foreach($dish in $dishes)
$dish.name	$dish.number*$dish.price	$dish.totalCost
#end

-----------------------------

总价: $bill.cost






